
<!-- article_edit template -->

<a href="../index.php">TPL_ADMIN_INDEX</a> : 
<a href="./index.php">TPL_ADMIN_ARTICLE</a> : 
TPL_EDIT | <a href="article_regenerate.php">TPL_REGEN_ARTICLE</a>


<form action="article_edit.php" method="post">

<input type="hidden" name="editswitch" value="1" />

<input type="hidden" name="news_item_id" value="TPL_LOCAL_ID" />

<table border="0" cellspacing="1" cellpadding="1" class="bgsearchgrey">
<tr><td colspan="2"><input type=submit name="save" value="save" />
TPL_PUBLISH_RESULT
</td></tr>

<tr><td colspan=2>TPL_ID:&nbsp;
TPL_LOCAL_NEWS_ITEM_ID&nbsp;
TPL_VERSION_ID:&nbsp;
TPL_LOCAL_NEWS_ITEM_VERSION_ID
</td></tr>

<tr><td valign="top">
<hr />
<small>TPL_CREATED:

TPL_LOCAL_CREATION_DATE 
<br />
TPL_LOCAL_CREATED_BY_USER_INFO
</small>
<hr />
</td><td valign="top">
<hr />
<small>
TPL_MODIFIED:
TPL_LOCAL_VERSION_CREATION_DATE
<br />
TPL_LOCAL_LAST_UPDATED_BY_USER_INFO
</small>
<hr />
</td></tr>
<tr><td colspan=2>

</td></tr>
<tr><td>TPL_TITLE1:</td>
<td><input type="text" name="title1" size="70" value="TPL_LOCAL_TITLE1" /></td></tr>
<tr><td>TPL_TITLE2:</td>
<td><input type="text" name="title2" size="70" value="TPL_LOCAL_TITLE2" /></td></tr>
<tr><td>TPL_DISPLAYED_DATE:</td>
<td>TPL_LOCAL_SELECT_DATE_DISPLAYED_DATE</td></tr>
<tr><td>TPL_EVENT_DURATION:</td>
<td><input type="text" name="event_duration" size="7" value="TPL_LOCAL_EVENT_DURATION" /></td></tr>
<tr><td>TPL_AUTHOR:</td>
<td><input type="text" name="displayed_author_name" size="70" value="TPL_LOCAL_DISPLAYED_AUTHOR_NAME" /></td></tr>
<tr><td>TPL_EMAIL:</td>
<td><input type="text" name="email" size="70" value="TPL_LOCAL_EMAIL" /></td></tr>
<tr><td>TPL_PHONE:</td>
<td><input type="text" name="phone" size="70" value="TPL_LOCAL_PHONE" /></td></tr>
<tr><td>TPL_ADDRESS:</td>
<td><input type="text" name="address" size="70" value="TPL_LOCAL_ADDRESS" /></td></tr>
<tr><td colspan=2>TPL_SHOW_CONTACT_INFO TPL_LOCAL_CHECKBOX_DISPLAY_CONTACT_INFO</td></tr>
<tr><td>
TPL_DISPLAYSTAT:
</td><td>
TPL_SELECT_DISPLAY
&nbsp;
TPL_ARTTYPE:&nbsp;

TPL_SELECT_NEWS_ITEM_TYPE_ID
</td></tr>

<input type="hidden" name="old_display" value="TPL_LOCAL_OLD_DISPLAY">


<tr><td colspan="2">TPL_SUMMARY:<br />
<textarea name="summary" style="width: 99%" rows="5">TPL_LOCAL_SUMMARY</textarea></td></tr>
<tr><td colspan=2>TPL_IS_SUMMARY_HTML TPL_LOCAL_CHECKBOX_IS_SUMMARY_HTML
</td></tr>
<tr><td colspan="2">TPL_ARTICLE:<br />
<textarea name="text" style="width: 99%" rows="20">TPL_LOCAL_TEXT</textarea></td></tr>
<tr><td colspan=2>TPL_IS_TEXT_HTML TPL_LOCAL_CHECKBOX_IS_TEXT_HTML
</td></tr>
<tr><td>TPL_LINK:</td>
<td><input type="text" name="related_url" size="70" value="TPL_LOCAL_RELATED_URL" /></td></tr>

<tr><td valign="top">TPL_PAGE_LIST:</td>
<td>
TPL_LOCAL_CHECKBOX_REGION
<br />
TPL_LOCAL_CHECKBOX_TOPIC
<br />
TPL_LOCAL_CHECKBOX_INT
<br />
TPL_LOCAL_CHECKBOX_OTHER
<br />
</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"></td></tr>
<tr><td colspan=2>
<table border=1>
<tr>
<td>TPL_PARENT_ID:</td>
<td>TPL_MEDIA_ATTACHMENT_ID:</td>
<td>TPL_THUMBNAIL_MEDIA_ATTACHMENT_ID:</td>
</tr>
<tr>
<td><input type="text" name="parent_item_id" size="10" value="TPL_LOCAL_PARENT_ID" /></td>
<td><input type="text" size="10"  name="media_attachment_id" value="TPL_LOCAL_MEDIA_ATTACHMENT_ID" /></td>
<td><input type="text" size="10"  name="thumbnail_media_attachment_id" value="TPL_LOCAL_THUMBNAIL_MEDIA_ATTACHMENT_ID" /></td>
</table>
</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"></td></tr>
<tr>
<td colspan=2>

<input type=submit name="save2" value="save">
</td></tr>
<tr><td colspan=2>
TPL_LOCAL_PREVIOUS_VERSION_LIST
</td></tr>
</table>
<input type="hidden" name="timestamp" value="TPL_LOCAL_MICROTIME">
</form>
<br />
<strong>
Current Post:
<a href="TPL_LOCAL_PUBLISH_LINK">
TPL_LOCAL_PUBLISH_LINK
</a>
</strong>
<br />
TPL_LOCAL_DISPLAY_PREVIEW


<!-- end article_edit template -->

