<div class="newswirehead">
<a class="publink" name="local" 
href="/search/?news_item_status_restriction=1155&amp;include_events=1&amp;include_posts=1&amp;page_id=TPL_LOCAL_PAGE_ID"><span 
class="newswirehead">Latest News</span></a></div>
<?php
require_once(CLASS_PATH."/cache/newswire_cache_class.inc");
$newswire_cache_class= new NewswireCache();
echo $newswire_cache_class->load_classified_newswire_for_page(TPL_LOCAL_PAGE_ID);
?>
<small><a class="publink" href="/search/?news_item_status_restriction=1155&amp;include_events=1&amp;include_posts=1&amp;page_id=TPL_LOCAL_PAGE_ID" >More News...</a></small>
