
		<td class="bgaccent">
			<b>Contact Name:</b>
		</td>
		<td class="bgsearchgrey">
			TPL_LOCAL_DISPLAYED_AUTHOR_NAME
		</td>
	</tr>
	
	<tr>
		<td class="bgaccent">

			<b>Contact Phone:</b>
		</td>
		<td class="bgsearchgrey">
			TPL_LOCAL_PHONE
		</td>
	</tr>
		<tr>
		<td class="bgaccent">

			<b>Contact Address:</b>
		</td>
		<td class="bgsearchgrey">
			TPL_LOCAL_ADDRESS
		</td>
	</tr>
	<tr>
		<td class="bgaccent" colspan="2">
			<b>DESCRIPTION:</b>

		</td>
	</tr>