<div style="background: url(/im/break3lighter.gif)">
<div style="float: right"><small><a style="font-weight: bold; text-decoration: none" class="publishlink"
href="/news/2005/03/1730663.php">How to join the
Indybay-breaking TXTmob</a></small></div><h5 style="margin: 0px"><a href="/breaking/">Breaking News</a>

TPL_BREAKING_NAV

</h5><p style="margin: 0.5em 0">

TPL_DISPLAY_BREAKING

</p><p style="margin: 0.5em 0 1em 0"><a href="/syn/breaking.php"><img src="/images/iconRSS.gif"
border="0" /></a> <a href="http://www.txtmob.com/group_info.php?listID=1223"><img src="/images/txtmob.png" border="0"
/></a></p></div>
