
<h3>TPL_FILENAME_HEADER</h3>
<bR>
<table width=400>
<tr><td>
TPL_CSS_VIEWER_INFO
</td></tr></table>
<br />
<form method="post">
<br />
TPL_SEARCH_STRING 1:<input type="text" name="str1" value="TPL_FILTER1">
<br />
TPL_SEARCH_STRING 2:<input type="text" name="str2" value="TPL_FILTER2">
<br />
<input type="submit" name="filter" value="TPL_FILTER">
<br />
TPL_INSERT_FILENAME
<br />
<input name="save" type="Submit" value="TPL_SAVE">
<BR>
<textarea name="contents" cols="100" rows="20">TPL_CONTENTS</textarea>
<br />
<input name="save" type="Submit" value="TPL_SAVE">
</form>
