<h3>TPL_SITE_DESIGN</h3>
<table border=3 cellspacing=5 cellpadding=5>

<tr valign="top">
<td>
Test Files
</td>
<td>
CSS Files (real not test)
</td>
<td>
Include Files (real not test)
</td>
<td>
Template Files (real not test)
</td>
</tr>
<tr valign="top">
<td width="25%">
TPL_TEST_LIST
</td>
<td width="25%">
TPL_CSS_LIST
</td>
<td width="25%">
TPL_INCLUDE_LIST
</td>
<td width="25%">
TPL_TEMPLATE_LIST
</td>
</tr>

</table>
