<div>TPL_LATEST_COMMENT_TEXT<a href="/search/?sort=rank">TPL_MOST_COMMENTED</a>.</div><br />

<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td><b><small>TPL_THREAD</small></b></td>
    <td><b><small>TPL_LATEST_AUTHOR</small></b></td>
    <td><b><small>TPL_POSTED_AT</small></b></td>
  </tr>
TPL_LOCAL_COMMENT_ROWS
</table>

<p align="right"><a href="/search/?page=5&amp;sort=modified">TPL_BROWSE_OLDER_THREADS</a></p>

<p><small>TPL_LAST_UPDATED</small></p>
