TPL_SEARCH_DISPLAY

TPL_SEARCH_MEDIUM

TPL_CAT_TOPIC_SELECT

TPL_CAT_REGION_SELECT
<br />
<input type="submit" value="Search" />
&nbsp;
<a href="/search/advanced_search.php">More Search Options</a>
<a href="/syn/generate_rss.php?news_item_status_restriction=TPL_LOCAL_NEWS_ITEM_STATUS_RESTRICTION&amp;include_blurbs=TPL_LOCAL_INCLUDE_BLURBS&amp;include_events=TPL_LOCAL_INCLUDE_EVENTS&amp;media_type_grouping_id=TPL_LOCAL_MEDIA_TYPE_GROUPING_ID&amp;include_posts=TPL_LOCAL_INCLUDE_POSTS&amp;region_id=TPL_LOCAL_REGION_ID&amp;topic_id=TPL_LOCAL_TOPIC_ID"><img src="/images/feed-icon-16x16.png" alt="RSS" /></a>
