
TPL_STATUS_MESSAGES


<form style="margin-top: 0; margin-bottom: 0.5em" method="GET" action="index.php">
TPL_TOP_SEARCH_FORM

TPL_NAV
</form>
<br >
TPL_TABLE_MIDDLE
<br />

<form style="margin-top: 0; margin-bottom: 0.5em" method="get" action="index.php">
TPL_NAV
TPL_BOTTOM_SEARCH_FORM
</form>

