
<input type="hidden" name="search" value ="TPL_LOCAL_SEARCH">

<input type="hidden" name="topic_id" value ="TPL_LOCAL_TOPIC_ID">

<input type="hidden" name="region_id" value ="TPL_LOCAL_REGION_ID">

<input type="hidden" name="media_type_grouping_id" value ="TPL_LOCAL_MEDIA_TYPE_GROUPING_ID">

<input type="hidden" name="include_comments" value ="TPL_LOCAL_INCLUDE_COMMENTS">

<input type="hidden" name="include_attachments" value ="TPL_LOCAL_INCLUDE_ATTACHMENTS">

<input type="hidden" name="include_posts" value ="TPL_LOCAL_INCLUDE_POSTS">
<input type="hidden" name="include_events" value ="TPL_LOCAL_INCLUDE_EVENTS">

<input type="hidden" name="include_blurbs" value ="TPL_LOCAL_INCLUDE_BLURBS">

<input type="hidden" name="search_date_type" value ="TPL_LOCAL_DATE_TYPE">

<input type="hidden" name="date_range_start_day" value ="TPL_LOCAL_DATE_RANGE_START_DAY">
<input type="hidden" name="date_range_start_month" value ="TPL_LOCAL_DATE_RANGE_START_MONTH">
<input type="hidden" name="date_range_start_year" value ="TPL_LOCAL_DATE_RANGE_START_YEAR">

<input type="hidden" name="date_range_end_day" value ="TPL_LOCAL_DATE_RANGE_END_DAY">
<input type="hidden" name="date_range_end_month" value ="TPL_LOCAL_DATE_RANGE_END_MONTH">
<input type="hidden" name="date_range_end_year" value ="TPL_LOCAL_DATE_RANGE_END_YEAR">
<inpit type="hidden" name="submitted_search" value="1" />
