<h3>TPL_ADMIN_ENTER TPL_SITENICK</h3>

<form name="logon_form" action="/admin/authentication/authenticate.php" method="post">

TPL_LOCAL_ERROR

<p><a href="/">TPL_RETURN_TO_SITE</a></p>

<pre><big>TPL_USERNAME: <input tabindex="1" name="username1" value="TPL_LOCAL_USERNAME" />

TPL_PASSWORD: <input tabindex="2" type="password" name="password" value="" />

          <input tabindex="3" type=submit name="logon" value="logon" />
</big></pre>

<input type="hidden" name="goto" value="TPL_GOTO" />

</form>
