
						<!-- main table content area -->
						<tr>						
							<td class="bg3">
							
								<!-- Nested Table to split content -->
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>

				<!-- Left Col -->

				<td width="100" valign="top" class="bgleftcol">
					<!-- Naviagtion -->
					<table width="100%" border="0" cellspacing="0" cellpadding="3">
						<tr>
							<td>
								<div class="left">
									<small>
										<a class="left" href="/features/"><b>features</b></a><br />
										<small class="featurelist">
											&#8226; <a class="left" href="/search/">latest news</a><br />
											&#8226; <a class="left" href="/comment_latest.php">commentary</a>
										</small>
									</small>
								</div>
								<div class="left">
									<small><a class="left" href="/process/resources/"><b>make media</b></a></small>
								</div>
								<div class="left">
									<small><a class="left" href="/process/"><b>participate</b></a></small>
								</div>
								<div class="left">
									<small><b><a class="left" href="/archives/">archives</a></b></small>
								</div>
								<div class="left">
									<small><b><a class="left" href="/irc/">chat</a></b></small>
								</div>
								<div class="left">
									TPL_SEARCH
								</div>
								<div class="left">
									TPL_TRANSLATE_FORM
								</div>
								<div class="left">
									<small><a class="left" href="/process/links.php"><b>links</b></a></small>
								</div>
								<div class="left">
									<small><a class="left" href="/process/donate.php"><b>donate</b></a></small>
								</div>
								<div class="left">
									<small><strong><a class="left" href="http://sfactive.indymedia.org/">sf-active</a></strong></small>
								</div>
								<div class="left">
									<small><strong><a class="left" href="/network.php">imc network</a></strong></small>
								</div>
								TPL_LEFT
							</td>
						</tr>
					</table>
					<!-- End Naviagtion -->
				</td>
				
				<!-- Spacer -->
				<td class="bgult" width="1">
					<img src="/im/bump.gif" width="1"  height="1" alt="" />
				</td>
				
				<!-- Middle -->
				<td valign="top" class="bgcentercol">
					<table border="0" cellspacing="0" cellpadding="4" width="100%">
						<tr>
							<td width="100%" valign="top">
								<table border="0" cellspacing="0" cellpadding="3">
									<tr>
										<td>
