<h3>Story Edit Page For "TPL_LOCAL_TITLE"</h3>
<strong>
<a href="/admin/feed_pull/feed_item_list.php?feed_id=TPL_LOCAL_FEED_ID">Return To Story List For Feed "TPL_LOCAL_FEED_NAME"</a>
</strong>
TPL_LOCAL_PUBLISH_INFO
<p/>
<form method="post" action="/admin/feed_pull/feed_item_edit.php">
<input type="hidden" name="rss_item_id" value="TPL_LOCAL_RSS_ITEM_ID">
<table border=1>
<tr>
<td>Creation Date:</td>
<td> TPL_LOCAL_CREATION_DATE</td>
</tr>
<tr>
<tr>
<td>Pull Date:</td>
<td>TPL_LOCAL_PULL_DATE</td>
</tr>
<tr>
<tr>
<td>Title:</td>
<td> <input type="text"  size=80 name="title" value="TPL_LOCAL_TITLE"></td>
</tr>
<tr>
<tr>
<td>Author:</td>
<td> <input type="text"  size=80 name="author" value="TPL_LOCAL_AUTHOR"></td>
</tr>
<tr>
<td>Related URL:</td>
<td><input type="text" size=80  name="related_url" value="TPL_LOCAL_RELATED_URL"></td>
</tr>
<tr>
<td>Summary:</td>
<td><textarea name="summary" cols=60 rows=10>TPL_LOCAL_SUMMARY</textarea>
</td>
</tr>
<tr>
<td>Text:</td>
<td><textarea name="text" cols=60 rows=20>TPL_LOCAL_TEXT</textarea>
</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
<td>Display Status:</td>
<td>TPL_STATUS_SELECT
</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
<td>Categories:</td>
<td>
TPL_LOCAL_CHECKBOX_REGION
<br />
TPL_LOCAL_CHECKBOX_TOPIC
<br />
TPL_LOCAL_CHECKBOX_INT
</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
<td colspan="2">
<input type="submit" name="update" value="update">
&nbsp;
<input type="submit" name="delete" value="delete">
&nbsp;
<input type="submit" name="publish" value="publish">
</td>
</tr>
</table>
</form>
<hr>
<h2>PREVIEW:</h2>
<hr>
<p/>
TPL_LOCAL_TITLE
<br />
by TPL_LOCAL_AUTHOR
<p>
<blockquote>
TPL_LOCAL_SUMMARY
</blockquote>
<p/>
TPL_LOCAL_TEXT