
<h3>Publish Preview</h3>
<strong><a href="/admin/feed_pull/inbound_feed_list.php">Return to Feed List</a></strong>
<br />
Review All Items And Scroll To The Bottom To Publish To The Site
<form method="post">
<p/>
<table>
TPL_LOCAL_PREVIEWS
</table>
<p />

<input type="submit" name="publish" value="Publish">
</form>



