<div class="story">
<div class="hed"><a class="headline-text" href="TPL_LOCAL_RELATED_URL" name="TPL_LOCAL_NEWS_ITEM_ID">
<strong>TPL_LOCAL_TITLE1</strong></a></div>
<div class="feature-blurb-background">

<div class="feature-blurb-subhead"><span class="feature-blurb-date">
TPL_LOCAL_FORMATTED_DATE
</span>
<a title="Permanent link to this story" class="feature-blurb" rel="bookmark" 
href="TPL_LOCAL_SINGLE_ITEM_VIEW_LINK">TPL_LOCAL_TITLE2</a></div>

</div>
<div class="blurb">TPL_LOCAL_TEXT
</div>
</div>
<!-- template was long_version_no_image -->
