<div class="story-html">
<a name="TPL_LOCAL_NEWS_ITEM_ID" rel="bookmark"
href="/archives/archive_by_id.php?id=TPL_LOCAL_NEWS_ITEM_ID"></a>
TPL_LOCAL_TEXT
<!-- template was long_version_html_only -->
</div>