<h3>TPL_LOG_LIST</h3>


<form>
<strong>Filter:</strong>

<br />
ip <input name="ip" value="TPL_LOCAL_IP"/>
<br />
ip search by parts (
<input name="ip1" value="TPL_LOCAL_IP1"/>
.<input name="ip2" value="TPL_LOCAL_IP2"/>
.<input name="ip3" value="TPL_LOCAL_IP3"/>
. *
)
<br />
method 

TPL_LOCAL_METHOD_SELECT

url <input name="url" value="TPL_LOCAL_URL"/>
ref url <input name="ref_url" value="TPL_LOCAL_REF_URL"/>
<br />
parent id <input name="parent_news_item_id" value="TPL_LOCAL_PARENT_NEWS_ITEM_ID"/>
posted id <input name="news_item_id" value="TPL_LOCAL_NEWS_ITEM_ID"/>
<br />
keyword <input name="keyword" value="TPL_LOCAL_KEYWORD"/>
sort by
TPL_LOCAL_SORT_BY_SELECT
<br />
<input type="submit" name="submit" value="FILTER">
<br />
TPL_NAV

<table width=100%>
<tr bgcolor="#000000">
<td valign="top"><font color="#ffffff"><small>ip</small></font></td>
<td valign="top"><font color="#ffffff"><small>start time & duration</small></font></td>
<td valign="top"><font color="#ffffff"><small>method</small></font></td>
<td valign="top"><font color="#ffffff"><small>url</small></font></td>
<td valign="top"><font color="#ffffff"><small>ref url</small></font></td>
<td valign="top"><font color="#ffffff"><small>parent id</small></font></td>
<td valign="top"><font color="#ffffff"><small>id</small></font></td>
<td valign="top"><font color="#ffffff"><small>more</small></font></td>
</tr>
TPL_LOCAL_LOG_LIST
</table>
TPL_NAV
</form>
<hr />
<form method="post">
<input type="submit" name="clear_get_logs" value="Clear Get Logs">
<br />
<input type="submit" name="clear_all_logs" value="Clear All Logs">
<br />
<input type="submit" name="clear_ips" value="Clear IPs From Logs">
</form>
<hr />
<table border=1><tr><td>
<form method="post">
TPL_LOG_GET? <input type=checkbox name="log_get" value="true" TPL_LOCAL_GET_CHECKED>
TPL_LOG_IPS_FOR_GET? <input type=checkbox name="log_ip_get" value="true" TPL_LOCAL_GETIP_CHECKED>
<br />
TPL_LOG_SEARCH? <input type=checkbox name="log_search" value="true" TPL_LOCAL_SEARCH_CHECKED>
TPL_LOG_IPS_FOR_SEARCH? <input type=checkbox name="log_ip_search" value="true" TPL_LOCAL_SEARCHIP_CHECKED>
<br />
TPL_LOG_POST? <input type=checkbox name="log_post" value="true" TPL_LOCAL_POST_CHECKED>
TPL_LOG_IPS_FOR_POST? <input type=checkbox name="log_ip_post" value="true" TPL_LOCAL_POSTIP_CHECKED>
<br />
TPL_LOG_DB? <input type=checkbox name="log_db" value="true" TPL_LOCAL_DB_CHECKED>
TPL_LOG_IPS_FOR_DB? <input type=checkbox name="log_ip_db" value="true" TPL_LOCAL_DBIP_CHECKED>
<br />
<input type="submit" name="save_log_status_changes" value="TPL_SAVE_LOG_STATUS_CHANGES">
</form>
</td></tr></table>
<hr />



