
<Form name="user_edit" method="post" action="user_edit.php">
<input type="hidden" name="user_id" value="TPL_LOCAL_USER_ID">

<TABLE>

<TR><TD>TPL_USERNAME</TD><TD>
TPL_LOCAL_USERNAME
</TD></TR>

<TR><TD colspan=2>TPL_HAS_LOGIN_RIGHTS
TPL_LOCAL_CHECKBOX_HAS_LOGIN_RIGHTS
</TD></TR>

<TR><TD>TPL_EMAIL</TD><TD>
<INPUT NAME="email" VALUE="TPL_LOCAL_EMAIL" />
</TD></TR>

<TR><TD>TPL_PHONE</TD><TD>
<INPUT NAME="phone" VALUE="TPL_LOCAL_PHONE" />
</TD></TR>

<TR><TD>TPL_FIRST_NAME</TD><TD>
<INPUT NAME="first_name" VALUE="TPL_LOCAL_FIRST_NAME" />
</TD></TR>

<TR><TD>TPL_LAST_NAME</TD><TD>
<INPUT NAME="last_name" VALUE="TPL_LOCAL_LAST_NAME" />
</TD></TR>
<TR><TD>TPL_LAST_LOGIN</TD><TD>
TPL_LOCAL_LAST_LOGIN
</TD></TR>
</TABLE>
<small>
<small>TPL_LOCAL_CREATION_INFO</small>
<br />

<INPUT type=submit name="save" value="TPL_SAVE" />
| 
<strong><a href="user_change_password.php?user_id=TPL_LOCAL_USER_ID">TPL_CHANGE_PASSWORD</a></strong>
</TD></TR></TABLE>

</FORM>
