

<Form name="user_change_password" method="post" action="user_change_password.php">
<input type="hidden" name="user_id" value="TPL_LOCAL_USER_ID">


<strong><a href="user_edit.php?user_id=TPL_LOCAL_USER_ID">TPL_USER_EDIT_DETAIL</a></strong>
<TABLE>
TPL_STATUS_MESSAGES
TPL_VALIDATION_MESSAGES

<TR><TD>TPL_USERNAME</TD><TD>
TPL_LOCAL_USERNAME
</TD></TR>
<TR><TD>TPL_EMAIL</TD><TD>
TPL_LOCAL_EMAIL
</TD></TR>

<TR><TD>TPL_OLD_PASSWORD</TD><TD>
<INPUT type="password" NAME="old_password" VALUE="" />
</TD></TR>

<TR><TD>TPL_NEW_PASSWORD</TD><TD>
<INPUT type="password" NAME="new_password1" VALUE="" />
</TD></TR>

<TR><TD>TPL_REPEAT_NEW_PASSWORD</TD><TD>
<INPUT type="password" NAME="new_password2" VALUE="" />
</TD></TR>
</TABLE>

<INPUT type=submit name="change_password" value="TPL_CHANGE_PASSWORD" />


</FORM>
