
TPL_VALIDATION_MESSAGES
TPL_STATUS_MESSAGES

<Form name="user_edit" method="post" action="user_add.php">
<input type="hidden" name="is_posted" value="1">

<TABLE>

<TR><TD>TPL_USERNAME</TD><TD>
<INPUT NAME="username" VALUE="TPL_LOCAL_USERNAME" />
</TD></TR>

<TR><TD colspan=2>TPL_HAS_LOGIN_RIGHTS
TPL_LOCAL_CHECKBOX_HAS_LOGIN_RIGHTS
</TD></TR>

<TR><TD>TPL_EMAIL</TD><TD>
<INPUT NAME="email" VALUE="TPL_LOCAL_EMAIL" />
</TD></TR>

<TR><TD>TPL_PHONE</TD><TD>
<INPUT NAME="phone" VALUE="TPL_LOCAL_PHONE" />
</TD></TR>

<TR><TD>TPL_FIRST_NAME</TD><TD>
<INPUT NAME="first_name" VALUE="TPL_LOCAL_FIRST_NAME" />
</TD></TR>

<TR><TD>TPL_LAST_NAME</TD><TD>
<INPUT NAME="last_name" VALUE="TPL_LOCAL_LAST_NAME" />
</TD></TR>
<TR><TD>&nbsp;</TD><TD>
&nbsp;
</TD></TR>

<TR><TD>TPL_PASSWORD1</TD><TD>
<INPUT type="PASSWORD" NAME="new_password1"  />
</TD></TR>

<TR><TD>TPL_PASSWORD2</TD><TD>
<INPUT type="PASSWORD" NAME="new_password2"/>
</TD></TR>


</TABLE>
<br />

<INPUT type=submit name="add" value="Add" />
</TD></TR></TABLE>

</FORM>
