<TABLE>

<TR><TD>TPL_USERNAME</TD><TD>
TPL_LOCAL_USERNAME
</TD></TR>

<TR><TD colspan=2>TPL_HAS_LOGIN_RIGHTS
TPL_LOCAL_HAS_LOGIN_RIGHTS
</TD></TR>

<TR><TD>TPL_EMAIL</TD><TD>
TPL_LOCAL_EMAIL
</TD></TR>

<TR><TD>TPL_PHONE</TD><TD>
TPL_LOCAL_PHONE
</TD></TR>

<TR><TD>TPL_FIRST_NAME</TD><TD>
TPL_LOCAL_FIRST_NAME
</TD></TR>

<TR><TD>TPL_LAST_NAME</TD><TD>
TPL_LOCAL_LAST_NAME
</TD></TR>
<TR><TD>TPL_LAST_LOGIN</TD><TD>
TPL_LOCAL_LAST_LOGIN
</TD></TR>
</TABLE>
<small>
<small>TPL_LOCAL_CREATION_INFO</small>
<br />

<a href="user_edit.php?user_id=TPL_LOCAL_USER_ID">TPL_EDIT</a>

</TD></TR></TABLE>
