
<h3>TPL_MAILING_LIST_ADMIN</h3>


TPL_LOCAL_SUCCESS

<form name="mailinglist" method="post" action="admin_email.php">
<b>TPL_TO: TPL_LOCAL_TO_DROPDOWN</b><br /><br />
<b>TPL_FROM: TPL_LOCAL_FROM_DROPDOWN</b><br /><br />
<b>TPL_SUBJECT:</b><br />
<input type="hidden" name="action" value="send" />
<input type="text" name="msubject" value="TPL_LOCAL_MSUBJECT" size="40" />

<br /><br />

<b>TPL_MESSAGE_BODY:</b>
<br />
<input type="submit" name="generate" value="Generate Weekly Indybay Email" />
&nbsp;
<input type="submit" name="generate_sc" value="Generate SC Email" />
<br />
<textarea name="mbody" rows="24" cols="100">
TPL_LOCAL_TEXTAREA
</textarea>

<br /><br />

TPL_CHECK_HERE: <input type="checkbox" name="failsafe" value="1" />

<br /><br />

<input type="submit" name="Submit" value="TPL_SEND" />
</form>
