<strong><a href="/admin/media/upload_list.php">Return To Upload List</a> TPL_DELETE_LINK</strong>
<table >
<tr class="bgsearchgrey" ><td>TPL_MEDIA_ATTACHMENT_ID</td><td>TPL_LOCAL_MEDIA_ATTACHMENT_ID</td></tr>
<tr class="bgsearchgrey" ><td>TPL_FILE_LOCATION</td><td>TPL_LOCAL_IMAGE_LOCATION</td></tr>
<tr class="bgsearchgrey"><td>TPL_UPLOAD_TYPE</td><td>TPL_LOCAL_UPLOAD_TYPE_NAME</td></tr>
<tr class="bgsearchgrey"><td>TPL_UPLOAD_SIZE</td><td>TPL_LOCAL_UPLOAD_SIZE</td></tr>
<tr class="bgsearchgrey"><td colspan="2">TPL_LOCAL_THUMBNAIL
</td></tr>

<tr class="bgsearchgrey"><td>TPL_ORIGINAL_FILE_NAME</td><td>TPL_LOCAL_ORIGINAL_FILE_NAME</td></tr>
<tr class="bgsearchgrey"><td colspan="2" valign="top">
TPL_CURRENT_RELATED_NEWS_ITEM_LINKS
TPL_PREVIOUS_RELATED_NEWS_ITEM_LINKS
TPL_PARENT_IMAGE_LINK
TPL_CHILD_IMAGE_LINKS

</td></tr>
</table>

