<h2>TPL_UPLOAD_LIST</h2>
<a href="upload_add.php">TPL_ADD_NEW_UPLOAD</a>
<br /><br />
<hr>
<p/>
<h3>Search For Uploads:</h3>
<form name="upload_list" type="GET">

TPL_UPLOAD_TYPE:
TPL_LOCAL_SELECT_UPLOAD_TYPES
<br />
TPL_MEDIA_TYPE_GROUPING
TPL_LOCAL_SELECT_GROUPING_IDS
<br />
File Name: <input type="test" name="keyword" value="TPL_LOCAL_KEYWORD">
<br />
<input type="submit" name="filter" value="Filter">


<br />
TPL_NAV
<table >
<tr>
<td></td>
</tr>
TPL_UPLOAD_ROWS
</table>
TPL_NAV
</form>
