<strong>
TPL_VALIDATION_MESSAGES
TPL_STATUS_MESSAGES
</strong>

<strong>
TPL_LOCAL_PAGE_ASSOCIATIONS
</strong>
<a href="blurb_recategorize.php?id=TPL_LOCAL_NEWS_ITEM_ID">TPL_RECATEGORIZE</a>
 | 
<a href="/admin/breaking/create.php?parent_item_id=TPL_LOCAL_NEWS_ITEM_ID">Add breaking news item for this blurb</a>

<form enctype="multipart/form-data" method="post" action="blurb_edit.php">
<input type="hidden" name="editswitch" value="1" />

<input type="hidden" name="news_item_id" value="TPL_LOCAL_NEWS_ITEM_ID" />

<table border="0" cellspacing="1" cellpadding="1"  class="bgsearchgrey" width="80%">
<tr><td colspan="2"><input type=submit name="save" value="save" />
<br />
</td></tr>

<tr><td colspan=3>TPL_ID:&nbsp;
TPL_LOCAL_NEWS_ITEM_ID&nbsp;
TPL_VERSION_ID:&nbsp;
TPL_LOCAL_NEWS_ITEM_VERSION_ID
</td></tr>

<tr><td valign="top" width="225">
<hr />
<small>TPL_CREATED:

TPL_LOCAL_CREATION_DATE 
<br />
TPL_LOCAL_CREATED_BY_USER_INFO
</small>
<hr />
</td><td valign="top" width="175">
<hr />
<small>
TPL_MODIFIED:
TPL_LOCAL_VERSION_CREATION_DATE
<br />
TPL_LOCAL_LAST_UPDATED_BY_USER_INFO
</small>
<hr />
</td>
<td>&nbsp;</td>
</tr>
<tr  valign="top">

<td width="25%">
<strong>TPL_TITLE1</strong> 
</td>

<td width="75%">
<input type="text" name="title1" style="width: 90%" maxlength="90" value="TPL_LOCAL_TITLE1" />
</td>

</tr>

<tr  valign="top">

<td width="25%">
<strong>TPL_TITLE2</strong> <small>(TPL_REQUIRED)</small>
</td>

<td width="75%">
<input type="text" name="title2" style="width: 90%" maxlength="90" value="TPL_LOCAL_TITLE2" />
</td>

</tr>
</table>





<br /><br />
<table class="bgsearchgrey" width="75%">
<tr>
<td  colspan=2>
<strong>TPL_SHORT_VERSION</strong>
</td></tr>
<tr><td colspan=2>
<textarea name="summary" rows="10" style="width: 90%" wrap="virtual">TPL_LOCAL_SUMMARY</textarea>
<br />
</td>

</tr>

<tr><td coslpan=2><strong>TPL_IS_SHORT_VERSION_HTML</strong> TPL_LOCAL_CHECKBOX_IS_SUMMARY_HTML
</td></tr>

<tr ><td colspan=2><hr/></td></tr>
<tr ><td colspan=2>
<strong>TPL_THUMBNAIL_MEDIA_ATTACHMENT:</strong><br />
<small>
TPL_IMAGE_SELECT_DESC
</small>
<br />
TPL_ENTER_ID
<input type="text" name="thumbnail_media_attachment_id" size=10 maxlength="15" value="TPL_LOCAL_THUMBNAIL_MEDIA_ATTACHMENT_ID" />

TPL_LOCAL_THUMBNAIL_EDIT_LINK
<br />
TPL_OR
<br />
TPL_CHOOSE_RECENT_ADMIN_UPLOAD
TPL_LOCAL_THUMBNAIL_RECENT_ADMIN_UPLOADS_SELECT
<br />
TPL_OR
<br />
TPL_UPLOAD_A_FILE
<input type="file" name="thumbnail_upload">
</td>
</tr>
<tr ><td colspan=2><hr /></td></tr>
</table>





<br /><br />
<table class="bgsearchgrey" width="75%">
<tr>
<td coslpan=2 >
<strong>TPL_LONG_VERSION</strong>
</td>
</tr>
<tr>
<td colspan=2>
<textarea name="text" rows="30" style="width: 90%" wrap="virtual">TPL_LOCAL_TEXT</textarea>
</td>

</tr>

<tr><td colspan=2><strong>TPL_IS_LONG_VERSION_HTML</strong> TPL_LOCAL_CHECKBOX_IS_TEXT_HTML
</td></tr>
<tr >

<td width="25%"><strong>TPL_PUB_URL</strong></td>

<td width="75%">
<input type="text" name="related_url" style="width: 90%" maxlength="255" value="TPL_LOCAL_RELATED_URL"/>
</td>

</tr>

<tr ><td colspan=2><hr/></td></tr>
<tr ><td colspan=2>
<strong>TPL_MEDIA_ATTACHMENT:</strong><br />
<small>
TPL_IMAGE_SELECT_DESC
</small>
<br />
TPL_ENTER_ID
<input type="text" name="media_attachment_id" size=10 maxlength="15" value="TPL_LOCAL_MEDIA_ATTACHMENT_ID" />

TPL_LOCAL_ATTACHMENT_EDIT_LINK
<br />
TPL_OR
<br />
TPL_CHOOSE_RECENT_ADMIN_UPLOAD
TPL_LOCAL_RECENT_ADMIN_UPLOADS_SELECT
<br />
TPL_OR
<br />
TPL_UPLOAD_A_FILE
<input type="file" name="main_upload">
</td>
</tr>
<tr ><td colspan=2><hr/></td></tr>



</table>
<input type=submit name="save2" value="save">
</td></tr>
<tr><td colspan=3>
<br />
TPL_RECENT_PREVIOUS_VERSIONS:
TPL_LOCAL_PREVIOUS_VERSION_LIST
<small><a href="/admin/article/newsitem_history.php?id=TPL_LOCAL_NEWS_ITEM_ID">TPL_BLURB_HISTORY</a></small>
</td></tr>
</table>
<input type="hidden" name="timestamp" value="TPL_LOCAL_MICROTIME">
</form>

<br />
<table width=70%>
<tr><td>


<h3><a name="preview">TPL_LONG_VERSION:</a></h3>
TPL_LOCAL_DISPLAY_LONG_PREVIEW
<br clear="all">
<h3>TPL_SHORT_VERSION:</h3>
TPL_LOCAL_DISPLAY_SHORT_PREVIEW
</td></tr>
</table>

<!-- end article_edit template -->

