

<a href="blurb_edit.php?id=TPL_LOCAL_NEWS_ITEM_ID">TPL_BACK_TO_BLURB_EDIT</a>
<br /><br />
<strong>
TPL_LOCAL_PAGE_ASSOCIATIONS
</strong>

<br />
TPL_RECATEGORIZE_FEATURE_PAGE_EXPLANATIONS
<br />
<br />
<form method="GET">
TPL_ADD_AS_CURRENT_TO_PAGE: TPL_LOCAL_SELECT_NONASSOCIATED_PAGES <input name="add_current" value="TPL_ADD_SUBMIT_TEXT" type="submit">
<input type="hidden" name="id" value="TPL_LOCAL_NEWS_ITEM_ID" />
</form>
<br />
<form method="GET">
TPL_ADD_AS_ARCHIVED_TO_PAGE: TPL_LOCAL_SELECT_NONASSOCIATED_PAGES <input name="add_archived" value="TPL_ADD_SUBMIT_TEXT" type="submit">
<input type="hidden" name="id" value="TPL_LOCAL_NEWS_ITEM_ID" />
</form>
<br />
<form method="GET">
TPL_REMOVE_CATEGORY_ASSOCIATION: TPL_LOCAL_SELECT_ASSOCIATED_PAGES <input name="remove_association" value="TPL_REMOVE_SUBMIT_TEXT" type="submit">
<input type="hidden" name="id" value="TPL_LOCAL_NEWS_ITEM_ID" />
</form>

