<a href="blurb_add.php?preselect_page_id=TPL_LOCAL_PAGE_ID">TPL_BLURB_ADD</a>
 | 
<a href="feature_page_preview.php?page_id=TPL_LOCAL_PAGE_ID">TPL_PREVIEW_FEATURE_PAGE</a>
 | 
<a href="/?preview=1&page_id=TPL_LOCAL_PAGE_ID">TPL_TEST_PAGE</a>

<h2>TPL_CURRENT_BLURB_LIST_FOR <EM>TPL_LOCAL_FEATURE_PAGE_NAME</EM></h2>

<small>
TPL_LAST_PUSHED_DATE_TEXT TPL_LOCAL_LAST_PUSHED_DATE
</small>
<FORM name="order_form" action="feature_page_blurb_list.php" method="post">
<h3>
TPL_LOCAL_CURRENT_LINK
|
TPL_LOCAL_ARCHIVED_LINK
|
TPL_LOCAL_HIDDEN_LINK
</h3>
<INPUT type=submit name="reorder" value="Reorder, Change Templates And Archive" />
<TABLE width="100%" >
<tr style="background-color: #e0e0e0;" >
<td><b>TPL_NEWS_ITEM_ID</b></td>
<td><b>TPL_TITLE</b></td>
<td><b>TPL_CREATED</b></td>
<td><b>TPL_MODIFIED</b></td>
<td><b>TPL_ORDER_NUM</td>
<td><b>TPL_TEMPLATE</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
TPL_LOCAL_TABLE_ROWS

</TABLE>

<br />
<INPUT type=submit name="reorder" value="Reorder, Change Templates And Archive" />
<input type="hidden" name="page_id" value="TPL_LOCAL_PAGE_ID">
</FORM>
