<div style="width: 320px; float: right"><b>paypal donations</b> <small>updated every 5 minutes</small>
<a title="paypal donations" href="/admin/paypal/"><img src="/images/donate.graph.png" alt="paypal donations" border="0" /></a></div>
<h3>TPL_PAGES</h3>
<a href="/admin/feature_page/blurb_add.php">TPL_BLURB_ADD</a> 
<br />

TPL_STATUS_MESSAGES
<br clear="all" />
<TABLE >
<tr><td colspan=2>
<strong>TPL_OTHER_PAGES</strong>
</td></tr>
TPL_OTHER_FEATUREPAGE_TABLEROWS
<tr><td colspan=2>&nbsp;</td></tr>
<tr><td colspan=2>
<strong>TPL_REGION_PAGES</strong>
</td></tr>
TPL_REGION_FEATUREPAGE_TABLEROWS
<tr><td colspan=2>&nbsp;</td></tr>
<tr><td colspan=2>
<strong>TPL_TOPIC_PAGES</strong>
</td></tr>
TPL_TOPIC_FEATUREPAGE_TABLEROWS
<tr><td colspan=2>&nbsp;</td></tr>
<tr><td colspan=2>
<strong>TPL_INTERNATIONAL_PAGES</strong>
</td></tr>
TPL_INTERNATIONAL_FEATUREPAGE_TABLEROWS
</TABLE>
<br />
<br />
<br />
<p/>
<a href="/admin/feature_page/feature_page_list.php?force_all_pages_live=1">Push All Center Columns Live</a>
<p/>
<a href="/admin/feature_page/feature_page_list.php?force_all_nonfp_pages_live=1">Push All Center Columns Live (Except For Front Page)</a>

<p/>
<a href="/admin/feature_page/feature_page_list.php?force_full_newswire_regeneration=1">Regenerate All Newswires</a>


