<strong>
TPL_VALIDATION_MESSAGES
TPL_STATUS_MESSAGES
</strong>

<strong>
<a href="feature_page_blurb_list.php?page_id=TPL_LOCAL_PAGE_ID">TPL_RETURN_TO_BLURB_LIST_FOR
TPL_LOCAL_FEATURE_PAGE_NAME
</a>
&nbsp;
|
&nbsp;
<a href="?push_page_live=true&amp;page_id=TPL_LOCAL_PAGE_ID">TPL_PUSH_FEATURE_PAGE_LIVE</a>
</strong>
<br /><br />
<hr />

TPL_LOCAL_PREVIEW_FEATURE_PAGE
