body { font-family:arial, sans-serif; background-color:#fff; color:#111; margin:0; padding:0; }
.pageheadbox { border: 1px solid #8DA3C4; padding: 3px; background-color: #D4DCE8; color:#111; margin-bottom:10px; height: 1%; }
.heading {  font-size:14px; }
.summary {  font-size:12px; line-height:16px; }
.article, .article p {  font-size:12px; line-height:16px; margin-top:12px; }
.article-comment, .article-comment p {  font-size:12px; line-height:16px; margin-top:12px; }
.printme { font-size:10px; margin-top:0px; margin-bottom:0px; }
.media { font-size:10px; text-align:center; padding:12px; } 
.link { font-size:12px; margin-top:12px; }

address, caption, div, dl, li, ol, p, ul, td, th, input, select, option, textarea { font-family:verdana, arial, sans-serif; font-size:11px; }
a:link { color:#111; border:none;  color:#16345C;}
a:link { color:#16345C;}
a:visited { color:#16345C; border:none; }
a:active { color:#07418C;}
a:hover { color:#07418C;}
a.left:link { text-decoration:none; color:#111; font-size:10px;}
a.left:visited { text-decoration:none; color:#111; font-size:10px;}
a.left:hover { text-decoration:underline; color:#111; font-size:10px;}
a.left:active { color:#c00; background-color:#111; font-size:10px;}
a.leftmf:link { text-decoration:none; color:#111; padding-left:5px;}
a.leftmf:visited { text-decoration:none; color:#111; padding-left:5px;}
a.leftmf:hover { text-decoration:underline; color:#000; padding-left:5px;}
a.leftmf:active { text-decoration:underline; color:#000; padding-left:5px;}
a.leftf:link { text-decoration:none; color:#111; padding-left:5px;}
a.leftf:visited { text-decoration:none; color:#111; padding-left:5px;}
a.leftf:hover { text-decoration:none; color:#000; padding-left:5px;}
a.leftf:active { text-decoration:none; color:#000; padding-left:5px;}
a.headline-text:link { text-decoration:none; color:#111;  font-weight:bold;}
a.headline-text:visited { text-decoration:none; color:#111;  font-weight:bold;}
a.headline-text:hover { text-decoration:underline; color:#000;  font-weight:bold;}
a.headline-text:active { text-decoration:underline; color:#000;  font-weight:bold; background-color:#D4DCE8; }
a.navbar:link { text-decoration:none; color:#fff; font-weight:normal;}
a.navbar:visited { text-decoration:none; color:#fff; font-weight:normal;}
a.navbar:hover { text-decoration:none; color:#111; font-weight:normal;}
a.navbar:active { text-decoration:none; color:#111; font-weight:normal;}
a.navbarcenter:link { text-decoration:none; color:#111;  font-size:11px; font-weight:bold;}
a.navbarcenter:visited { text-decoration:none; color:#111;  font-size:11px; font-weight:bold;}
a.navbarcenter:hover { text-decoration:underline; color:#000;  font-size:11px; font-weight:bold;}
a.navbarcenter:active { text-decoration:underline; color:#000;  font-size:11px; font-weight:bold;}
a.newswire:link { text-decoration:none; font-size:11px;}
a.newswire:visited { text-decoration:none; font-size:11px;}
a.newswire:hover { text-decoration:underline; font-size:11px;}
a.newswire:active { text-decoration:none; color:#c00; background-color:#D4DCE8; font-size:11px;}
a.publink:link { color:#111; text-decoration:none;}
a.publink:visited { color:#111; text-decoration:none; }
a.publink:hover { color:#111; text-decoration:underline; }
a.publink:active { text-decoration:none; color:#111; background-color:#D4DCE8; }
a.publishlink:link { color:#c00; text-decoration:underline; }
a.publishlink:visited { color:#c00; text-decoration:underline; }
a.publishlink:hover { color:#ff3300; text-decoration:underline; }
a.publishlink:active { text-decoration:none; color:#c00; background-color:#D4DCE8; }
a.localgloballinks:link { color:#333; text-decoration:none;}
a.localgloballinks:visited { color:#333; text-decoration:none; }
a.localgloballinks:hover { color:#111; text-decoration:underline; }
a.localgloballinks:active { color:#111; text-decoration:underline; }
a.nav { font-family:verdana, arial, sans-serif, arial; font-size:11px; }
a.nav:link { color:#000; text-decoration:none; }
a.nav:visited { color:#000; text-decoration:none; }
a.nav:hover { color:#000; text-decoration:underline; }
a.nav:active { text-decoration:none; color:#c00; background-color:#D4DCE8; }
a.headlines-blurb { text-decoration:none; }
a.headlines-blurb:link { text-decoration:none; }
a.headlines-blurb:visited { text-decoration:none; }
a.headlines-blurb:hover { text-decoration:underline; }
a.headlines-blurb:active { text-decoration:none; background-color:#0b2d5a; color:#ffe833; }
a.bar { font-family:verdana, arial, sans-serif, arial; font-size:11px; }
a.bar:link { color:#000; text-decoration:none; }
a.bar:visited { color:#000; text-decoration:none; }
a.bar:hover { color:#000; text-decoration:underline; }
a.bar:active { text-decoration:none; color:#c00; background-color:#D4DCE8; }
big { font-size:16px; font-weight:bold;}
small, .feature-blurb-subhead { font-family:verdana, arial, sans-serif, arial, sans-serif; font-size:10px; }
code, pre { font-family:monospace; }
div.theme { font-family:verdana, arial, sans-serif, arial, sans-serif; font-size:11px; color:#888888; }  
.mastleft { font-family:verdana, arial, sans-serif; font-size:16px; font-weight:bold; }
.mastright { font-family:verdana, arial, sans-serif; font-size:16px; font-weight:bold; }
div.top { font-family:verdana, arial, sans-serif; font-size:13px; font-weight:bold; }
div.left { color:#fff;}
.hed { padding:0px 5px 5px 5px; font-family:verdana, arial, sans-serif; font-size:16px; font-weight:bold; color:#111; }
.hedl { font-family:verdana, arial, sans-serif; font-size:17px; font-weight:bold; }
h1, div.h1 { font-family:verdana, arial, sans-serif; font-size:18px; font-weight:bold; }
h2, div.h2 { font-family:verdana, arial, sans-serif; font-size:16px; font-weight:bold; }
h3, div.h3 { font-family:verdana, arial, sans-serif; font-size:14px; font-weight:bold; }
div.publink { font-size:11px; font-weight:bold; }
h4, div.h4 { font-family:verdana, arial, sans-serif; font-size:13px; font-weight:bold; }
h5, div.h5 { font-family:verdana, arial, sans-serif, arial, sans-serif; font-size:11px; font-weight:bold; }
h6, div.h6 { font-family:verdana, arial, sans-serif, arial, sans-serif; font-size:11px; font-weight:bold; }
.blurb { margin:5px 5px 0px 5px; font-family:verdana, arial, sans-serif;  font-size:11px; line-height:14px;}


.newswirehead { color:#111; text-align:center; font-family:verdana, arial, sans-serif; font-weight:bold; margin-top:0; margin-bottom:0; margin-left:-3px; margin-right:-3px; background-color:#8DA3C4; padding:3px;  border-top:1px solid #333; border-bottom:1px solid #333;}



.localglobal { color:#111; text-align:center; font-family:verdana, arial, sans-serif; font-size:11px; }
.localgloballinks { color:#111; }
.bgaccent { color:#255325; background-color:#dddddd; }
.bg3 { background-color:#fff; }
.bgult { background-color:#333; }
.bgcentercol { background-color:#ddd; }


.navbar { width:12.5%; background-color:#728BB0; border-top:1px solid #000; border-bottom:1px solid #000;  padding-left:15px; padding-right:15px;}
.navbarleft { width:12.5%; background-color:#728BB0; border-top:1px solid #000; border-bottom:1px solid #000;  padding-left:15px; padding-right:15px;}
.navbarright { width:12.5%; background-color:#728BB0; border-top:1px solid #000; border-bottom:1px solid #000;  padding-left:15px; padding-right:15px;}
.navbarcenter { background-color:#8DA3C4; border:1px solid #333; padding-left:3px; padding-top:3px; padding-bottom:2px;}


.bgnewswire { background-color:#D4DCE8; color:#000; width:150px; border-top:0; padding:3px; }
.bgrightcol { background-color:#D4DCE8; border-left:1px solid #8DA3C4; }


.bgleftcol { width:100px; background-color:#D4DCE8; color:#111; border-right:0; }
.bgleft { background-color:#D4DCE8; border-right:1px solid #8DA3C4; }


.restofleft { padding-bottom:2px; padding-left:5px;}


.bgcities { background-color:#ddd; }
.bgpenult { background-color:#fff; color:#333; }
.bg9 { background-color:#666; }
.bg00 { background-color:#D4DCE8; }
.bgsearchgrey { background-color:#D4DCE8; }
.date { color:#4F4F4F; font-family:verdana, arial, sans-serif, arial, sans-serif; font-size:10px; }
.comments { color:#4F4F4F; font-family:verdana, arial, sans-serif; font-size:10px; line-height:.83em; font-weight:bold; }

.newsauthor { color:#333; font-family:verdana, arial, sans-serif, arial, sans-serif; font-size:10px; }

.detailTextLabel { background-color:#ccccee; color:#000; font-weight:bold; }
.detailText { color:#000; }
.calendar { font-size:11px; font-family:verdana, arial, sans-serif, arial, sans-serif; }
.calendarHeader { font-size:11px; font-family:verdana, arial, sans-serif, arial, sans-serif; }
.calendarToday { color:#fff; font-size:11px; font-family:verdana, arial, sans-serif, arial, sans-serif; }
.calendarHighlightWeek { background-color:#ccc; }
.bodyClass { background-color:#8DA3C4; }
.bgcolor { background-color:#333; color:#8DA3C4; }
.bgcolor3 { background-color:#666; color:#ddd; }
.weekTitles { color:#255325; background-color:#dddddd; font-weight:bold; }
.eventTitle { font-weight:bold; font-size:11px; font-family:verdana, arial, sans-serif, arial, sans-serif; }
.eventText { font-size:11px; background-color:#D4DCE8; font-family:verdana, arial, sans-serif, arial, sans-serif; }
div.eventText { padding:3px; border-bottom:1px solid #8DA3C4; border-left:1px solid #8DA3C4; border-right:1px solid #8DA3C4; }
.eventNav { font-weight:bold; }
.eventNav2 { }
.eventNav3 { font-size:11px; font-family:verdana, arial, sans-serif, arial, sans-serif; }
.story { clear: both; margin:0px 1px 16px 1px; height: 1%;}
.story-html { clear:both; margin:0px 0px 0px 0px; height: 1%;}
.storynoclear { margin:3px 3px 18px 3px; }
.webcast { margin:0; padding:0; margin-top:3px; background-color:#fff; }


.nooz { border:1px solid #fff; padding:2px; margin-top:2px; margin-bottom:2px;  padding-left:5px;}
div.noozimg  { margin-left:-8px;}

.leftheader { padding-top:1px; padding-bottom:1px; font-size:12px; font-weight:bold; background-color:#8DA3C4; border-bottom:0;  border-top:1px solid #333; border-bottom:1px solid #333;}
.leftheadertop { padding-top:1px; padding-bottom:1px; font-size:12px; font-weight:bold; background-color:#8DA3C4; border-bottom:1px solid #333; }


.featurelistitem { font-size:11px; font-weight:normal; background-color:#D4DCE8; border-bottom:0; border-top:1px solid #fff; }   

.thisfeaturelistitem { font-size:11px; font-weight:normal; background-color:#fff; border-bottom:0; border-top:1px solid #fff; }




div#bottom { border-bottom:1px solid #fff; }
div#top { border-top:1px solid #fff; }
div#current { background-color:#ffe833; }
.footer { margin-top:-1px; border-top:1px solid #8DA3C4; padding:3px; background-color:#D4DCE8; }
.disclaimer { border:solid 1px #8DA3C4; padding:3px; background-color:#fff; }


.headers { border:solid 1px #8DA3C4; padding:3px; background-color:#D4DCE8; }
.headers-comment { border:solid 1px #8DA3C4; padding:3px; background-color:#D4DCE8; }
.comments_list { border:solid 1px #8DA3C4; padding:3px; margin-top:1em; background-color:#eee; font-size:10px; font-family:verdana, arial, sans-serif, arial, sans-serif; text-align:left; margin-left:6px; margin-right:6px; margin-bottom:12px; }
.comments_list_table { margin:0; border:0; margin-top:6px; padding:0; border-spacing:0; }
.comments_list_head { font-family:verdana, arial, sans-serif, arial, sans-serif; padding-left:0px; padding-bottom:3px; font-size:9px; margin:0; border:0; }
.comments_list_item { padding-right:6px; }
.addcomment { border:solid 1px #8DA3C4; padding:3px; margin-top:1em; background-color:#ddd; font-size:11px; font-family:verdana, arial, sans-serif, arial, sans-serif; text-align:left; margin-bottom:12px; }

.mastimg { margin:0 3px 3px 3px; }
.archivelink { clear:both; border-left:1px solid #8DA3C4; border-right:1px solid #8DA3C4; border-top:1px solid #8DA3C4; border-bottom:1px solid #8DA3C4; padding:3px; background-color:#dddddd; text-align:right; }

.archivelink2 { margin-top:6px; border:1px solid #111; padding:3px; background-color:#8DA3C4; text-align:left; }

.pagecontent { padding-left:6px; padding-top:4px; padding-right:6px; background-color:#fff; }
.article { }
.archivedisplay { }
center.breaking-event { margin-top:9px; margin-bottom:9px; }
.breaking-event { font-size:11px; line-height:13px; font-family:verdana, arial, sans-serif, arial, sans-serif; }
a.breaking-event:link { padding:3px; margin-top:1em; text-align:center; font-weight:bold; color:#c00; }
a.breaking-event:visited { padding:3px; margin-top:1em; text-align:center; font-weight:bold; color:#c00; }
a.breaking-event:hover { padding:3px; margin-top:1em; text-align:center; font-weight:bold; color:#ff3300; }
a.breaking-event:active { padding:3px; margin-top:1em; text-align:center; font-weight:bold; color:#c00; }
.hidden { background-color:#ffcccc; }
img { border:0; }
.headlines1 { text-align:left; font-size:13px; font-family:verdana, arial, sans-serif; font-weight:bold; color:#111; }
.headlines2 { font-weight:bold; }
.headlines-cat { text-align:left; font-weight:bold; font-size:13px; }
a.headlines-cat:link { text-decoration:none; color:#111; }
a.headlines-cat:visited { text-decoration:none; color:#111; }
a.headlines-cat:hover { text-decoration:underline; color:#000; }
a.headlines-cat:active { text-decoration:underline; color:#000; background-color:#D4DCE8; }
.headlines-blurb { font-weight:normal; }
.headlines-blurb-modified { font-size:11px; font-weight:normal; font-family:verdana, arial, sans-serif, arial, sans-serif; }
.headlines-blurb-modified-date { font-size:11px; font-weight:normal; color:#c00; font-family:verdana, arial, sans-serif, arial, sans-serif; }
ul.headlines-links { margin:0px; font-family:arial, sans-serif; font-size:13px; list-style-image:url("http://www.indybay.org/images/i_small.png"); }

.navbarleft a:hover { background:#D4DCE8; color:#000; padding-left:15px; padding-right:15px;}
.navbar a:hover { background:#D4DCE8; color:#000; padding-left:15px; padding-right:15px;}
.navbarright a:hover { background:#D4DCE8; color:#000; padding-left:15px; padding-right:15px;}

div.featurelistitem a { display:block; padding:2px;}
div.thisfeaturelistitem a { display:block; padding:2px; }
div.featurelistitem a:hover { background:#8DA3C4; color:#000; }
div.thisfeaturelistitem a:hover { display:block; background:#8DA3C4; color:#111; }

a.flink { text-decoration:none; }
.idbckdark { background-color:#000; }
.idbckmedi { background-color:#ccc; }
.idbcklite { background-color:#e3e3e3; }
.idtxthead { color:#fff; font-weight:bold; font-size:16px; line-height:16px; }
.idtxtreg { color:#000; font-size:11px; line-height:13px; }
.idtxtsm { color:#000; font-size:10px; line-height:12px; }
a.idlink:link { color:#0000cc; }
a.idwhtlink:link { color:#fff; font-weight:bold; }
a.idwhtlink:visited { color:#fff; font-weight:bold; }
a.idwhtlink:hover { font-weight:bold; }
a.idwhtlink:active { font-weight:bold; }
.nav { font-size:11.1px; }
div.nav { background-color:#ccc; margin-right:-4px; border:1px solid; border-top:0 none; padding:1px; }
hr.feature-blurb { color:#ccc; background-color:#fff; border:0 ;
border-bottom:0px solid #ccc; margin:0px 1px 0px 2px; line-height:0px; 
height:0; margin:-16px; }
.feature-blurb-date { float:right; color:#000; }
.feature-blurb-background { padding:3px 5px 3px 5px; background-color:#dddddd; }
a.feature-blurb:link { text-decoration:none; color:#111; }
a.feature-blurb:visited { text-decoration:none; color:#111; }
a.feature-blurb:hover { text-decoration:underline; color:#000; }
a.feature-blurb:active { text-decoration:underline; color:#000; }
hr.feature-blurb2 { padding:0; margin:1px 0 0 0; line-height:1px; height:1px; }
.feature-blurb-date2 { float:right;  color:#0b2d5a; }
a.feature-blurb2:link { text-decoration:none; color:#111; }
a.feature-blurb2:visited { text-decoration:none; color:#111; }
a.feature-blurb2:hover { text-decoration:underline; color:#000; }
a.feature-blurb2:active { text-decoration:underline; color:#000; }
hr.archive_newsfeed { clear:both; margin:1em 0 0 0; }
div.archive_newsitem { margin:0.5em 0; padding-left:6px; }
div.archive_newstitle { padding:6px 0 0 0; }
a.archive_newsfeed:visited { color:#0b5a2d; }
a.indybay_newsfeed:visited { color:#0b5a2d; }
.archivenav { border:1px solid #999999; padding:3px; background-color:#cccccc; }
.gray { color:gray; }


span.breakbug-event { font-size: 11.1px; color: #000; text-align: left; font-family: "MS Sans Serif", arial, sans-serif;}
span.breakbug-event a:link { color: #c00; }
span.breakbug-event a:visited { color: #c00; }
span.breakbug-event a:hover { color: #f30; }
span.breakbug-event a:active { color: #c00; }

table.paypal { border:1px solid purple; }
th.paypal { border-bottom:2px solid purple; }
td.paypal { background:#fcf; }
table.torrent { border:2px #14417E;
	background-color:#142D4E; }
tr.torrentodd { 	background-color:#D7D7D7;
	color:#333333; }
tr.torrenteven { 	background-color:#BCBCBC;
	color:#333333; }
table.torrent td { 
	font-size:9pt;
	height:23px;  }
tr.torrentodd:hover, tr.torrenteven:hover {
	background-color:#EEEEEE;
	color:#111111; }
	
	
div.subscribe_container { border: 3px dotted #bbb; margin: 10px; padding: 10px; background: #eee; }
div.subscribe_item { border: 1px solid #bbb; padding: 3px; margin: 1px; }
div.subscribe_item a:link, div.subscribe_item a:visited { text-decoration: none; }
div.subscribe_item  a:hover { text-decoration: underline; }
div.subscribe_item:hover { background: #D4DCE8; border: 1px solid #bbb; padding: 3px; margin: 1px; }
div.subscribe_item span { height: 15px; padding-left: 16px; padding-right: 5px; float: right; }
div.subscribe_item:hover span { background: url("/subscribe/star.png") no-repeat; }
div.subscribe_item span:hover { background: url("/subscribe/star_active.png") no-repeat; }
a.subscribe_link { font-weight: bold; padding-left: 14px; background: url("/subscribe/feed-icon-12x12-gs.png") no-repeat; }
a.subscribe_link:hover { background: url("/subscribe/feed-icon-12x12.png") no-repeat; }
div.subscribe_header { font-size: 17px; color: #41703D; }
	
.video:link, .video:visited { font-size: small; text-decoration: none; }
.video:hover { text-decoration: underline; }

.indybay-count-wrap {
        font-family: arial, helvetica, sans-serif;
	width: 4.8em;
	text-align: center;
	font-size: 85%;
	margin: 0;
	padding: 0;
}
.indybay-count {
        border: 1px solid white;
	margin: 0;
	padding: 0;
}
.indybay-count { background: url(/images/indybay-count-box.png); }
.indybay-count-outer { background: url(/images/indybay-count-box.png) 100% 100%; }
.indybay-count-inner { color: #50470D; }
* html .indybay-count, { background-position: 1px 1px; }
.indybay-count-inner { display: block; }
.indybay-count {
  width: 4.6em; /* need IE7 */
} * html .digg-count { width: auto; }
.indybay-count-outer {
	display: block;
	padding: 0.5em 0 0.5em 0;
	text-decoration: none;
	margin-bottom: 0;
}
.indybay-count-inner {
	font-size: 190%;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1;
}
