TPL_STATUS_MESSAGES



<form style="margin-top: 0; margin-bottom: 0.5em" method="get" action="/gallery/index.php">
TPL_TOP_SEARCH_FORM

TPL_NAV
</form>
<br >
<table cellpadding="5" cellspacing="5">
<tr><td valign="top">
TPL_TABLE_MIDDLE
</table>
<br />

<form style="margin-top: 0; margin-bottom: 0.5em" method="get" action="index.php">
TPL_NAV
TPL_BOTTOM_SEARCH_FORM
</form>
