<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" 
height="251" id="utv453365"><param name="flashvars" 
value="autoplay=true&amp;brand=embed&amp;cid=5704276&amp;locale=en_US"/><param 
name="allowfullscreen" value="true"/><param name="allowscriptaccess" 
value="always"/><param name="movie" 
value="http://www.ustream.tv/flash/live/1/5704276?v3=1"/><embed 
flashvars="autoplay=true&amp;brand=embed&amp;cid=5704276&amp;locale=en_US" 
width="400" height="251" allowfullscreen="true" 
allowscriptaccess="always" id="utv453365" name="utv_n_57406" 
src="http://www.ustream.tv/flash/live/1/5704276?v3=1" 
type="application/x-shockwave-flash" /></object>
