<HEAD>
<SCRIPT language="JavaScript">
<!--
if (TPL_DELAY_TIME>0){
	setTimeout("redir()",TPL_DELAY_TIME);
}else{
	window.location="TPL_REDIRECT_URL";
}
function redir(){
	window.location="TPL_REDIRECT_URL";
}
//-->
</SCRIPT>
</HEAD>