<strong>
TPL_VALIDATION_MESSAGES
TPL_STATUS_MESSAGES
</strong>

<!-- article_edit template -->


<form enctype="multipart/form-data"  action="/admin/article/article_edit.php" method="post">

<input type="hidden" name="editswitch" value="1" />

<input type="hidden" name="news_item_id" value="TPL_LOCAL_ID" />

<table border="0" cellspacing="1" cellpadding="1" class="bgsearchgrey">
<tr><td colspan="2">
<input type=submit name="save_and_regenerate_all" value="save" />
&nbsp; &nbsp; 
<input type=submit name="blurbify" value="Create Blurb From Post" />


TPL_PUBLISH_RESULT
</td></tr>

<tr><td colspan=2>TPL_ID:&nbsp;
TPL_LOCAL_NEWS_ITEM_ID&nbsp;
TPL_VERSION_ID:&nbsp;
TPL_LOCAL_NEWS_ITEM_VERSION_ID
</td></tr>

<tr><td valign="top">
<hr />
<small>TPL_CREATED:

TPL_LOCAL_CREATION_DATE 
<br />
TPL_LOCAL_CREATED_BY_USER_INFO
</small>
<hr />
</td><td valign="top">
<hr />
<small>
TPL_MODIFIED:
TPL_LOCAL_VERSION_CREATION_DATE
<br />
TPL_LOCAL_LAST_UPDATED_BY_USER_INFO
</small>
<hr />
</td></tr>
<tr><td colspan=2>

</td></tr>
<tr><td>TPL_TITLE1:</td>
<td><input type="text" name="title1" size="70" value="TPL_LOCAL_TITLE1" /></td></tr>
<tr><td>TPL_AUTHOR:</td>
<td><input type="text" name="displayed_author_name" size="70" value="TPL_LOCAL_DISPLAYED_AUTHOR_NAME" /></td></tr>
<tr><td>TPL_EMAIL:</td>
<td><input type="text" name="email" size="70" value="TPL_LOCAL_EMAIL" /></td></tr>
<tr><td colspan=2>TPL_SHOW_CONTACT_INFO TPL_LOCAL_CHECKBOX_DISPLAY_CONTACT_INFO</td></tr>
<tr><td>
TPL_DISPLAYSTAT:
</td><td>
TPL_SELECT_DISPLAY
&nbsp;
TPL_ARTTYPE:&nbsp;

TPL_SELECT_NEWS_ITEM_TYPE_ID
</td></tr>

<input type="hidden" name="old_display" value="TPL_LOCAL_OLD_DISPLAY">


<tr><td colspan="2">TPL_SUMMARY:<br />
<textarea name="summary" style="width: 99%" rows="5">TPL_LOCAL_SUMMARY</textarea></td></tr>
<tr><td colspan=2>TPL_IS_SUMMARY_HTML TPL_LOCAL_CHECKBOX_IS_SUMMARY_HTML
</td></tr>
<tr><td colspan="2">TPL_ARTICLE:<br />
<textarea name="text" style="width: 99%" rows="20">TPL_LOCAL_TEXT</textarea></td></tr>
<tr><td colspan=2>TPL_IS_TEXT_HTML TPL_LOCAL_CHECKBOX_IS_TEXT_HTML
</td></tr>
<tr><td>TPL_LINK:</td>
<td><input type="text" name="related_url" size="70" value="TPL_LOCAL_RELATED_URL" /></td></tr>

<tr><td valign="top">TPL_PAGE_LIST:</td>
<td>
TPL_LOCAL_CHECKBOX_REGION
<br />
TPL_LOCAL_CHECKBOX_TOPIC
<br />
TPL_LOCAL_CHECKBOX_INT
<br />
TPL_LOCAL_CHECKBOX_OTHER
<br />
</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"></td></tr>
<tr><td>

<strong>TPL_PARENT_ID:<strong>
</td><td>
TPL_LOCAL_PARENT_SECTION
</td></tr>
<tr><td>
<strong>TPL_MEDIA_ATTACHMENT_ID:</strong>
</td><td>
<input type="text" size="10"  name="media_attachment_id" value="TPL_LOCAL_MEDIA_ATTACHMENT_ID" />

<input type="hidden" name="thumbnail_media_attachment_id" value="TPL_LOCAL_THUMBNAIL_MEDIA_ATTACHMENT_ID" />
</td></tr>
<tr>
<td valign="top">
<strong>TPL_REPLACE_MEDIA_ATTACHMENT:</strong>
</td><td>
<input type="file" name="replace_upload">
TPL_LOCAL_IMAGE_OPTIONS
</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"></td></tr>
<tr>
<td colspan=2>

<input type=submit name="save2" value="save">
</td></tr>
<tr><td colspan=2>
TPL_LOCAL_PREVIOUS_VERSION_LIST
</td></tr>
</table>
<input type="hidden" name="timestamp" value="TPL_LOCAL_MICROTIME">
</form>
<br />
<strong>
Current Post:
<a href="TPL_LOCAL_PUBLISH_LINK">
TPL_LOCAL_PUBLISH_LINK
</a>
</strong>
<br />
<a name="preview">&nbsp;</a>
TPL_LOCAL_DISPLAY_PREVIEW


<!-- end article_edit template -->

