
<a href="/admin/article/article_edit.php?id=TPL_LOCAL_NEWS_ITEM_ID">
TPL_RETURN_TO_NEWSITEM
</a>
<br />
TPL_LOCAL_ITEM_PREVIEW
<h3>Make Post An Attachment</h3>
<strong>
TPL_VALIDATION_MESSAGES
TPL_STATUS_MESSAGES
</strong>
<form method="Post">
Enter Desired Parent Id if you Know It:<br /><input type="text" name ="parent_item_id">

<br />
Or Choose A Recent News Item From This List:
<br />
TPL_LOCAL_POSSIBLE_PARENT_LIST
<input type="hidden" name="item_id" value="TPL_LOCAL_NEWS_ITEM_ID">
<p/>
<input type="submit" name="make_attachment" value="Make This Post An Attachment">
</form>