<div class="comments_list">
<small><strong>LATEST COMMENTS ABOUT THIS ARTICLE</strong></small><br />
Listed below are the 10 latest comments of N_UMCOMMENT posted about this article.<br />
These comments are anonymously submitted by website visitors.<br />
            <table class="comments_list_table">
              <tr>
                <td class="comments_list_head">TITLE</td>
                <td class="comments_list_head">AUTHOR</td>
                <td class="comments_list_head">DATE</td>
              </tr>
