
<div class="comments_list">
<small><strong>
<a href="TPL_LOCAL_NEWS_ITEM_ID.php?show_comments=1#comments">
LATEST COMMENTS ABOUT THIS ARTICLE
</a>
</strong></small><br />
Listed below are the latest comments posted about this article.<br />
These comments are anonymously submitted by website visitors.<br />
            <table class="comments_list_table">
              <tr>

                <td class="comments_list_head">TITLE</td>
                <td class="comments_list_head">AUTHOR</td>
                <td class="comments_list_head">DATE</td>
              </tr>
              TPL_LOCAL_LATEST_COMMENT_LINKS
</table>
</div>

