$cache_class->safe_include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_content.html");
include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_attachments.inc");
?>

<?php
if (!array_key_exists("printable",$_GET) || $_GET["printable"]==""){
	?><div class="addcomment">
	<a href="/comment.php?top_id=TPL_LOCAL_NEWS_ITEM_ID">Add Your Comments</a>
	</div>
	
	<div class="comment_box_longversion">
	
	<?php
	if (!array_key_exists("show_comments",$_GET) || $_GET["show_comments"]==""){
			$cache_class->safe_include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_commentbox.html");
	}else{
		?>
		<hr />
		<h3><a name="comments">Comments</a>&nbsp;
		<small>(<a href="TPL_LOCAL_NEWS_ITEM_ID.php">Hide Comments</a>)</small></h3>
		
		<?php
			include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_comments.inc");
	}
	?>
<?php
}
?>
</div>
<?php
