<!-- TEMPLATE -->
<div class="breaking hidden">
  <a class="child" name="TPL_LOCAL_NEWS_ITEM_ID" href="#TPL_LOCAL_NEWS_ITEM_ID"><b class="date">TPL_LOCAL_CREATED:</b></a>
  <span class="text">TPL_LOCAL_TITLE1</span> <span class="html">TPL_LOCAL_SUMMARY</span>
</div>
<!-- /TEMPLATE -->
