
$cache_class->safe_include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_content.html");

include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_attachments.inc");
?>

<div class="comment_box_longversion">

<?php
if (!array_key_exists("printable",$_GET) || $_GET["printable"]==""){
	?>

	<div class="addcomment">
	<a href="/comment.php?top_id=TPL_LOCAL_NEWS_ITEM_ID">Add Your Comments</a>
	</div>
	<?php
	include("TPL_LOCAL_PATH"."TPL_LOCAL_NEWS_ITEM_ID_comments.inc");
	
}
?>
</div>
<?php
