body { font-family: arial, sans-serif; background-color: #FFF; color: #111; margin: 0; }
address, caption, div, dl, li, ol, p, ul, td, th, input, select, option, textarea { font-family: arial, sans-serif; font-size: 13.3px; }
a:link { color: #0b2d5a; border: none; }
a:visited { color: #0b2d5a; border: none; }
a:hover { }
a:active { }
a.left:link { text-decoration: none; color: #fff; }
a.left:visited { text-decoration: none; color: #eee; }
a.left:hover { text-decoration: underline; color: #fff; }
a.left:active { color: #c00; background-color: #000; }
a.leftf:link { text-decoration: none; color: #000; }
a.leftf:visited { text-decoration: none; color: #000; }
a.leftf:hover { text-decoration: none; color: #fff; }
a.leftf:active { color: #c00; background-color: #000; }
a.headline-text:link { text-decoration: none; color: #000; }
a.headline-text:visited { text-decoration: none; color: #000; }
a.headline-text:hover { text-decoration: underline; color: #0b2d5a; }
a.headline-text:active { text-decoration: none; color: #c00; background-color: #000; }
a.navbar:link { text-decoration: none; color: #fff; }
a.navbar:visited { text-decoration: none; color: #fff; }
a.navbar:hover { text-decoration: none; color: #de0c0c; }
a.navbar:active { text-decoration: none; color: #c00; background-color: #000; }
a.newswire:link { text-decoration: none; }
a.newswire:visited { text-decoration: none; }
a.newswire:hover { text-decoration: underline; }
a.newswire:active { text-decoration: none; color: #c00; background-color: #000; }
a.publink:link { color: #0b2d5a; text-decoration: none; }
a.publink:visited { color: #0b2d5a; text-decoration: none; }
a.publink:hover { color: #0b2d5a; text-decoration: underline; }
a.publink:active { text-decoration: none; color: #c00; background-color: #000; }
a.publishlink:link { color: #c00; text-decoration: underline; }
a.publishlink:visited { color: #c00; text-decoration: underline; }
a.publishlink:hover { color: #ff3300; text-decoration: underline; }
a.publishlink:active { text-decoration: none; color: #c00; background-color: #000; }
a.nav { font-family: "MS Sans Serif", arial; font-size: 11.1px; }
a.nav:link { color: #000; text-decoration: none; }
a.nav:visited { color: #000; text-decoration: none; }
a.nav:hover { color: #000; text-decoration: underline; }
a.nav:active { text-decoration: none; color: #c00; background-color: #000; }
a.headlines-blurb { text-decoration: none; }
a.headlines-blurb:link { text-decoration: none; }
a.headlines-blurb:visited { text-decoration: none; }
a.headlines-blurb:hover { text-decoration: underline; }
a.headlines-blurb:active { text-decoration: none; background-color: #0b2d5a; color: #ffe833; }
a.bar { font-family: "MS Sans Serif", arial; font-size: 11.1px; }
a.bar:link { color: #000; text-decoration: none; }
a.bar:visited { color: #000; text-decoration: none; }
a.bar:hover { color: #000; text-decoration: underline; }
a.bar:active { text-decoration: none; color: #c00; background-color: #000; }
big { font-size: 19.2px; }
.small, small, .feature-blurb-subhead { font-family: "MS Sans Serif", arial, sans-serif; font-size: 11.1px; }
code, pre { font-family: monospace; }
div.theme { font-family: "MS Sans Serif", arial, sans-serif; font-size: 11.1px; color: #888888; }
.mastleft { font-family: arial, sans-serif; font-size: 19.2px; font-weight: bold; }
.mastright { font-family: arial, sans-serif; font-size: 19.2px; font-weight: bold; }
div.top { font-family: arial, sans-serif; font-size: 19.2px; font-weight: bold; }
div.left { color: #fff; }
.hed { padding: 0px 5px 5px 5px; font-family: arial, sans-serif; font-size: 19.2px; font-weight: bold; color: #000; }
.hedl { font-family: arial, sans-serif; font-size: 19.2px; font-weight: bold; }
h1, div.h1 { font-family: arial, sans-serif; font-size: 27.6px; font-weight: bold; }
h2, div.h2 { font-family: arial, sans-serif; font-size: 23px; font-weight: bold; }
h3, div.h3 { font-family: arial, sans-serif; font-size: 19.2px; font-weight: bold; }
div.publink { font-size: 16px; font-weight: bold; }
h4, div.h4 { font-family: arial, sans-serif; font-size: 16px; font-weight: bold; }
h5, div.h5 { font-family: "MS Sans Serif", arial, sans-serif; font-size: 13.3px; font-weight: bold; }
h6, div.h6 { font-family: "MS Sans Serif", arial, sans-serif; font-size: 11.1px; font-weight: bold; }
.blurb { margin: 5px 5px 0px 5px; font-family: arial, sans-serif; }
.newswirehead { color: #000; text-align: center; font-family: arial, sans-serif; font-weight: bold; margin-top: 0; margin-bottom: 0; margin-left: -3px; margin-right: -3px; background-color: #85a8cc; padding: 3px; }
.localglobal { color: #0b2d5a; text-align: center; font-family: arial, sans-serif; font-size: 11.1px; }
.localgloballinks { color: #0b2d5a; }
.bgaccent { color: #255325; background-color: #c6ced1; }
.bg3 { background-color: #fff; }
.bgult { background-color: #333; }
.bgcentercol { background-color: #ddd; }
th.navbar { width: 12.5%; background-color: #000; 
border-top: 1px solid #284775; border-bottom: 1px solid #000; }
th.navbarleft { width: 12.5%; background-color: #000; 
border-top: 1px solid #284775; border-bottom: 1px solid #000; }
th.navbarright { width: 12.5%; background-color: #000; 
border-top: 1px solid #284775; border-bottom: 1px solid #000; }
.bgnewswire { background-color: #c3d3e2; color: #000; width: 150px; border-top: 0; padding: 3px; }
.bgrightcol { background-color: #c3d3e2; border-left: 1px solid #333; }
.bgleftcol { width: 100px; background-color: #0b2d5a; color: #fff; border-right: 0; }
.bgleft { background-color: #0b2d5a; border-right: 1px solid #333; }
.restofleft { padding-bottom: 3px; padding-left: 3px; }
.bgcities { background-color: #ddd; }
.bgpenult { background-color: #fff; color: #333; }
.bg9 { background-color: #666; }
.bg00 { background-color: #000; }
.bgsearchgrey { background-color: #c3d3e2; }
.date { color: #555; font-family: "MS Sans Serif", arial, sans-serif; font-size: 11.1px; }
.comments { color: #555; font-family: arial, sans-serif; font-size: 13.3px; line-height: .83em; font-weight: bold; }
.newsauthor { color: #555; font-family: "MS Sans Serif", arial, sans-serif; font-size: 11.1px; }
.detailTextLabel { background-color: #ccccee; color: #000; font-weight: bold; }
.detailText { color: #000; }
.calendar { font-size: 11.1px; font-family: "MS Sans Serif", arial, sans-serif; }
.calendarHeader { font-size: 11.1px; font-family: "MS Sans Serif", arial, sans-serif; }
.calendarToday { color: #fff; font-size: 11.1px; font-family: "MS Sans Serif", arial, sans-serif; }
.calendarHighlightWeek { background-color: #ccc; }
.bodyClass { background-color: #aaa; }
.bgcolor { background-color: #333; color: #aaa; }
.bgcolor3 { background-color: #666; color: #ddd; }
.weekTitles { color: #255325; background-color: #c6ced1; font-weight: bold; }
.eventTitle { font-weight: bold; font-size: 11.1px; font-family: "MS Sans Serif", arial, sans-serif; }
.eventText { font-size: 11.1px; background-color: #c3d3e2; font-family: "MS Sans Serif", arial, sans-serif; }
div.eventText { padding: 3px; border-bottom: 1px solid #aaa; border-left: 1px solid #aaa; border-right: 1px solid #aaa; }
.eventNav { font-weight: bold; }
.eventNav2 { }
.eventNav3 { font-size: 11.1px; font-family: "MS Sans Serif", arial, sans-serif; }
.story { clear: both; margin: 0px 1px 24px 1px; }
.storynoclear { margin: 3px 3px 18px 3px; }
.webcast { margin: 0; padding: 0; background-color: #fff; }
.nooz { border: 1px solid #fff; padding: 3px; margin-top: 3px; margin-bottom: 3px; }
.leftheader { padding: 3px; font-size: 13.3px; font-weight: bold; background-color: #ffe833; border-bottom: 0; border-top: 1px solid #fff; }
.featurelistitem { font-size: 13.3px; font-weight: bold; background-color: #85a8cc; border-bottom: 0; border-top: 1px solid #fff; }
.thisfeaturelistitem { font-size: 13.3px; font-weight: bold; border-bottom: 0; border-top: 1px solid #fff; background-color: #ffe833; }
div#bottom { border-bottom: 1px solid #fff; }
div#top { border-top: 0; }
div#current { background-color: #ffe833; }
.footer { margin-top: -1px; border-top: 1px solid #aaa; padding: 3px; background-color: #c3d3e2; }
.disclaimer { border: solid 1px #aaa; padding: 3px; background-color: #fff; }
.comments_list { border: solid 1px #aaa; border-right: 0; padding: 3px; margin-right: -6px; background-color: #eee; }
.comments_list_table { margin: 0; border: 0; margin-top: 6px; padding: 0; border-spacing: 0; }
.comments_list_head { font-family: "MS Sans Serif", arial, sans-serif; 
padding-left: 3px; margin-bottom: -3px; font-size: 11.1px; margin: 0; border: 0; }
.comments_list_item { padding: 3px; }
.headers { border: solid 1px #aaa; border-right: 0; padding: 3px; margin-right: -6px; background-color: #c3d3e2; }
.addcomment { border: solid 1px #aaa; padding: 3px; margin-top: 1em; background-color: #c6ced1; font-size: 11.1px; font-family: "MS Sans Serif", arial, sans-serif; text-align: left; margin-left: 6px; margin-bottom: 12px; }
.mastimg { margin: 0 3px 3px 3px; }
.archivelink { clear: both; border-left: 1px solid #aaa; border-right: 1px solid #aaa; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; padding: 3px; background-color: #c6ced1; text-align: right; }
.archivelink2 { margin-top: 6px; border: 1px solid #333; padding: 3px; background-color: #ffcc00; text-align: left; }
.pagecontent { padding-left: 6px; padding-top: 6px; padding-right: 6px; background-color: #fff; }
.article { }
.archivedisplay { }
center.breaking-event { margin-top: 9px; margin-bottom: 9px; }
.breaking-event { font-size: 11.1px; line-height: 13.3px; font-family: "MS Sans Serif", arial, sans-serif; }
a.breaking-event:link { padding: 3px; margin-top: 1em; text-align: center; font-weight: bold; color: #c00; }
a.breaking-event:visited { padding: 3px; margin-top: 1em; text-align: center; font-weight: bold; color: #c00; }
a.breaking-event:hover { padding: 3px; margin-top: 1em; text-align: center; font-weight: bold; color: #ff3300; }
a.breaking-event:active { padding: 3px; margin-top: 1em; text-align: center; font-weight: bold; color: #c00; }
.hidden { background-color: #ffcccc; }
img { border: 0; }
.headlines1 { text-align: left; font-size: 19.2px; font-family: arial, sans-serif; font-weight: bold; color: #000; }
.headlines2 { font-weight: bold; }
.headlines-cat { text-align: left; font-weight: bold; font-size: 14.7px; }
a.headlines-cat:link { text-decoration: none; color: #000; }
a.headlines-cat:visited { text-decoration: none; color: #000; }
a.headlines-cat:hover { text-decoration: none; color: #000; }
a.headlines-cat:active { text-decoration: none; color: #c00; background-color: #000; }
.headlines-blurb { font-weight: normal; }
.headlines-blurb-modified { font-size: 11.1px; font-weight: normal; font-family: "MS Sans Serif", arial, sans-serif; }
.headlines-blurb-modified-date { font-size: 11.1px; font-weight: normal; color: #c00; font-family: "MS Sans Serif", arial, sans-serif; }
ul.headlines-links { margin: 0px; font-family: arial, sans-serif; font-size: 13.3px; list-style-image: url("http://www.indybay.org/images/i_small.png"); }
div.featurelistitem a { display: block; padding: 3px; }
div.thisfeaturelistitem a { display: block; padding: 3px; }
div.featurelistitem a:hover { background: #006600; color: #fff; }
div.thisfeaturelistitem a:hover { display: block; background: #006600; color: #fff; }
a.flink { text-decoration: none; }
.idbckdark { background-color: #000; }
.idbckmedi { background-color: #ccc; }
.idbcklite { background-color: #e3e3e3; }
.idtxthead { color: #fff; font-weight: bold; font-size: 16px; line-height: 16px; }
.idtxtreg { color: #000; font-size: 11px; line-height: 13px; }
.idtxtsm { color: #000; font-size: 10px; line-height: 12px; }
a.idlink:link { color: #0000cc; }
a.idwhtlink:link { color: #fff; font-weight: bold; }
a.idwhtlink:visited { color: #fff; font-weight: bold; }
a.idwhtlink:hover { font-weight: bold; }
a.idwhtlink:active { font-weight: bold; }
.nav { font-size: 11.1px; }
div.nav { background-color: #ccc; margin-right: -4px; border: 1px solid; border-top: 0 none; padding: 1px; }
hr.feature-blurb { color: #ccc; background-color: #fff; border: 0; 
border-bottom: 0px solid #ccc; margin: 0px 1px 0px 2px; line-height: 0; 
height: 0; margin: -16px; }
.feature-blurb-date { float: right; color: #000; }
.feature-blurb-background { padding: 3px 5px 3px 5px; background-color: #E4E4E4; }
a.feature-blurb:link { text-decoration: none; color: #000; }
a.feature-blurb:visited { text-decoration: none; color: #000; }
a.feature-blurb:hover { text-decoration: underline; color: #999; }
a.feature-blurb:active { text-decoration: underline; color: #6ca; }
hr.feature-blurb2 { padding: 0; margin: 1px 0 0 0; line-height: 1px; height: 1px; }
.feature-blurb-date2 { float: right; font-size: 10px; color: #0b2d5a; }
a.feature-blurb2:link { text-decoration: none; font-size: 10px; color: #505050; }
a.feature-blurb2:visited { text-decoration: none; font-size: 10px; color: #505050; }
a.feature-blurb2:hover { text-decoration: underline; }
a.feature-blurb2:active { text-decoration: underline; }
hr.archive_newsfeed { clear: both; margin: 1em 0 0 0; }
div.archive_newsitem { margin: 0.5em 0; padding-left: 6px; }
div.archive_newstitle { padding: 6px 0 0 0; }
a.archive_newsfeed:visited { color: #0b5a2d; }
a.indybay_newsfeed:visited { color: #0b5a2d; }
.archivenav { border: 1px solid #999999; padding: 3px; background-color: #cccccc; }
.gray { color: gray; }


.breakbug-event { font-size: 9.5px; color: #000000; line-height: 12px; text-align:left; font-family: "MS Sans Serif", arial, sans-serif;}

a.breakbug-event:link { padding: 3px; margin-top: 1em; text-align:left;  color: #c00; }

a.breakbug-event:visited { padding: 3px; margin-top: 1em; text-align:left;  color: #c00; }

a.breakbug-event:hover { padding: 3px; margin-top: 1em; text-align:left;  color: #ff3300; }

a.breakbug-event:active { padding: 3px; margin-top: 1em; text-align:left;  color: #c00; }

table.paypal { border: 1px solid purple; }
th.paypal { border-bottom: 2px solid purple; }
td.paypal { background: #fcf; }
table.torrent { border: 2px #14417E;
	background-color: #142D4E; }
tr.torrentodd { 	background-color: #D7D7D7;
	color: #333333; }
tr.torrenteven { 	background-color: #BCBCBC;
	color: #333333; }
table.torrent td { 
	font-size: 9pt;
	height: 23px;  }
tr.torrentodd:hover, tr.torrenteven:hover {
	background-color: #EEEEEE;
	color: #111111; }
