<table cellspacing="0" cellpadding="0" border="0">
<tr><td>
<h2>TPL_SYNDICATION_PAGE</h2>
</td></tr>


<tr><td><b>Front Page</b></td></tr><tr><td class="bgsearchgrey"><br />
<a href="/syn/generate_rss.php?include_blurbs=1&amp;rss_version=1">TPL_FEATURES</a> (simple ) -  
<a href="/syn/generate_rss.php?include_blurbs=1&amp;rss_version=1&amp;include_full_text=1">TPL_FEATURES</a> (with content) -
  <a href="/syn/generate_rss.php?include_posts=1&amp;news_item_status_restriction=3&amp;rss_version=1">TPL_NEWSWIRE (rdf)</a>
   -<a href="/syn/generate_rss.php?include_posts=1&amp;news_item_status_restriction=3">TPL_NEWSWIRE (xml)</a> 
   -<a href="/syn/generate_rss.php?include_events=1">TPL_CALENDAR (rss)</a> </td></tr><tr><td>&nbsp;</td></tr>

<tr><td><h3> TPL_REGION_PAGES </h3></td></tr>

TPL_LOCAL_REGION_SYN_LIST
	
<tr><td><h3> TPL_TOPIC_PAGES </h3></td></tr>		

TPL_LOCAL_TOPIC_SYN_LIST	

<tr><td><h3> TPL_INTERNATIONAL_PAGES </h3></td></tr>	

TPL_LOCAL_INT_SYN_LIST	

</table>
