
<h2>TPL_FEATURE_PAGE_ARCHIVE_HEADER</h2>

TPL_STATUS_MESSAGES

<div style="border: 1px solid #999; padding: 3px; background-color: #ccc">

<b><a
href="TPL_LOCAL_FEATURE_PAGE_URL">TPL_LOCAL_FEATURE_PAGE_NAME</a></b> :
	TPL_NAV
	&nbsp;|&nbsp;
	<strong><a href="/search/advanced_search.php?include_posts=0&amp;include_events=0&amp;include_blurbs=1&amp;page_id=TPL_LOCAL_PAGE_ID">TPL_SEARCH</a>
	</strong>
	</div>
<br />
<div class="archivedisplay">
TPL_LOCAL_HTML
</div>
<br clear="all" />
<div style="border: 1px solid #999; padding: 3px; background-color: #ccc">
<small>
<b><a
href="TPL_LOCAL_FEATURE_PAGE_URL">TPL_LOCAL_FEATURE_PAGE_NAME</a></b>:
	TPL_NAV
</div>
